# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# macos

*.DS_Store

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# fabric

run/
logs/

# misc
backup/
remappedSrc/